@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.searchText{
  position: relative;
}

.searchListBox{
  border-bottom: 1px solid rgba(128, 128, 128, 0.381);
}
.searchTitle{
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.searchTitle:hover{
  text-decoration: underline;
}

.searchNumBox{
  display: flex;
  height: 70px;
  margin-top: -20px !important;
}

.searchNumber{
  font-size: 20px;
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(0, 96, 232);
}
.searchAddress{
  font-size: 15px;
}

.searchLotNumBox{
  display: flex;
  flex-direction: column;
}
.searchLotNumBox > p{
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.searchNum{
  color: #288756;
  font-size: 15px;
}

.searchLotNum{
  color: gray;
  font-size: 13px;
}

.searchStartBox{
  display: flex;
}
.searchStartBox > p:first-child {
  color: #003fab;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: -183px;
  cursor: pointer;
  font-family: 'S-CoreDream-3Light';
}
.searchStartBox > p:last-child {
  color: rgb(172, 0, 0);
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'S-CoreDream-3Light';
}
